@{
    ViewData["Title"] = "Home Page";
}

<div class="row">
    <div class="col-md-12">
        <div class="jumbotron ">
            <h1 class="display-4">Merhaba!</h1>
            <p class="lead">
                Bu websitesi aracılığı ile göğüs röntgeninizi taratıp zature belirtisi olup olmadığını
                görebilirsiniz.
            </p>
            <hr class="my-4">
            <p>Bu websitesi yapılırken kullanılan model veya veri için data detaylı bilgiye ulaşabilirsiniz.</p>
            <a class="btn btn-primary btn-lg" href="#" role="button">Daha Fazla</a>
        </div>

    </div>
</div>
<div class="row">
    <div class="col-md-8 mx-auto">
        <img hidden src="test_datas/C1.jpeg" height="224" width="224" id="image1" />
        <label id="resultLabel" hidden>Result Label</label>
    </div>
</div>
