@{
    ViewData["Title"] = "Home Page";
}

<div class="row">
    <div class="col-md-12">
        <div class="jumbotron ">
            <h1 class="display-4">Merhaba!</h1>
            <p class="lead">
                Bu websitesi aracılığı ile göğüs röntgeninizi taratıp zature belirtisi olup olmadığını
                görebilirsiniz.
            </p>
            <hr class="my-4">
            <p>Bu websitesi yapılırken kullanılan model veya veri için data detaylı bilgiye ulaşabilirsiniz.</p>
            <a class="btn btn-primary btn-lg" href="#" role="button">Daha Fazla</a>
        </div>

    </div>
</div>
<div class="row">
    <div class="col-md-8 mx-auto text-center">
    </div>
   
    <div class="col-md-8 mx-auto">
        <div class="custom-file mb-2">
            <input onchange="onFileSelected(event);" type="file" class="custom-file-input" id="validatedCustomFile" required>
            <label class="custom-file-label" for="validatedCustomFile">Röntgen Resmini Yükleyiniz.</label>
            <div class="invalid-feedback">Geçersiz Girdi</div>
        </div>
        <button onclick="submitModel()" type="button" class="btn btn-group btn-info" style="float: right;">Sonuçları Göster</button>
        <img height="224" width="224" id="image" style="float: left;" />

    </div>
    <div class="col-md-8 mx-auto text-center" id="results" hidden>
        <h4>Sonuçlar</h4>
        <hr />
        <label class="text-danger" id="zatureLabel">Zatüre Olma İhtimali : </label>
        <br />
        <label class="text-success" id="normalLabel">Normal Olma İhtimali : </label>
    </div>
</div>

